SUPABASE_URL=https://qgpaysscysbchqdghzhi.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFncGF5c3NjeWJzY2hxZGdoemhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk3ODAxNjcsImV4cCI6MjA4NTM1NjE2N30.9adchiOwyEmxLZ4bZmr3AUZVB787gbt4sBe3t4pBoZw
